* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --colorlight: white;
  --colordark: black;
  --color-blue: #529cf1;
  --font: 'Poppins', sans-serif;
  font-family: var(--font);
  font-size: 62.5%;
}

/* general tags */

h1 {
  font-size: 3.2rem;
  padding-bottom: 30px;
}

h2 {
  font-size: 2.2rem;
  text-align: center;
  padding-block: 10px;
}

h3 {
  font-size: 1.8rem;
  padding-bottom: 10px;
  font-weight: 600;
}

h4 {
  font-size: 1.4rem;
  padding-bottom: 10px;
  font-weight: 600;
}

p {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

img {
  display: block;
  width: 100%;
}

/* header */

.header {
  color: var(--colorlight);
  background-color: var(--colordark);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.header__logo {
  width: 130px;
}
.header__menu-icon {
  width: 40px;
}

.header__menu {
  display: none;
}

/* main */

.TryPremium {
  color: var(--colorlight);
  background-color: var(--color-blue);
  min-height: 55dvh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 40px;
}

.TryPremium__button {
  color: var(--colorlight);
  text-decoration: none;
  background-color: hsl(141, 66%, 43%);
  text-align: center;
  margin-block: 20px;
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
}

.TryPremium__button:hover {
  background-color: hsl(135, 66%, 50%);
}

.WhyPremium {
  padding-block: 30px;
  padding-inline: 15px;
}

/* articles */

.container__articles {
  /* background-color: chocolate; */
  margin-block: 10px;
  padding: 2px;

  display: flex;
  flex-direction: column; 
  flex-wrap: nowrap;
}

.article {
  /* background-color: aquamarine; */
  width: 280px;
  height: 150px;
  margin: auto;

  margin-block: 5px;
  padding: 7px;
  padding-block: 20px;

  display: flex;
  flex-direction: row; 
}

.article__img {
  width: 70px;
  height: 70px;
}

.article__text {
  /* background-color: burlywood; */
  margin-left: 7px;

  width: 70%;
  height: 80%;
}

/* footer */

.footer {
  color: var(--colorlight);
  background-color: var(--colordark);
  padding: 15px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  
}

.footer__container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:20px;
}

.footer__left{
  width: 55%;
}

.footer__right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 45%;
}

.footer__lang {
  display: flex;
  flex-direction: row;
}

.footer__lang p {
  padding-top: 6px ;
}

.footer__flag{
  width: 30px;
  margin-left: 10px;
}


/* MEDIA QUERIES */

/* tablet */

@media (min-width: 720px) { 
  .header {
    align-items: center;
    padding-inline: 25px;
  }

  .header__menu-icon {
    display: none;
  }

  .header__menu {
    display: flex;
    justify-content: flex-end;
    width: 75%;
  }

  .header__menu > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;  
    list-style-type: none;
    margin-left: 30px;
  }
  
  /*  esto significa colocar un "|" detrás del primer ul */
  .header__menu > ul:first-child::after {
    content: "|";
  }

  .header__menu > h2 {
    font-weight: 300;
  }

  .TryPremium {
    background-image: url("images/premium_dancer.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain; /* para que no se le corte la cabeza a la muchacha */
  }

  .container__articles {
    flex-direction: row; 
    flex-wrap: wrap;
  }

  .article {
    width: 340px;
  }

}

/* desktop */

@media (min-width: 1038px) { 

  .article {
    width: 250px;
    
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content:center;
    
    text-align: center;
  }

  .article__text{
    padding-top: 10px;

    width: 90%;
    height: 70%;
  }
  
}

