<footer class="footer">
    <nav class="footer__left">
        <ul class="footer__container">
            <li class="footer__item">Legal</li>
            <li class="footer__item">Cookies</li>
            <li class="footer__item">Información sobre los anuncios</li>
        </ul>
    </nav>
    <div class="footer__right">
        <div class="footer__lang">
            <p>España</p>
            <img class="footer__flag" src="./assets/images/es.svg" alt="Bandera de España">
        </div>
        <p>© 2019 Spotify</p>
    </div>
</footer>