
.TryPremium {
	color: $colorlight;
	background-color: $color-blue;
	min-height: 55dvh;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-top: 80px;

	@media (min-width:720px) {
		background-image: url("../images/premium_dancer.png");
		background-repeat: no-repeat;
		background-position: right;
		background-size: contain;
	}
}

.TryPremium__button {
	color: $colorlight;
	text-decoration: none;
	background-color: hsl(141, 66%, 43%);
	text-align: center;
	margin-block: 20px;
	padding: 10px;
	border-radius: 20px;
	text-transform: uppercase;
}

.TryPremium__button:hover {
	background-color: hsl(135, 66%, 50%);
}